.Collections__container {
  margin-top: 50px;
  width: 280px;
  height: 264px;
  /* margin-left: 128px; */
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  justify-content: center;
}

ul {
  list-style: none;
}

ul li .rounded-circle {
  height: 220px;
  width: 220px;
  transform: scale(0.5);
}

#create_logo {
  width: 60px;
  height: 60px;
  margin-left: 22px;
  margin-top: 10px;
}
#create_logo1 {
  width: 50px;
  height: 50px;
  margin-left: 22px;
  margin-top: 10px;
}
/* #create_logo2 {
  width: 60px;
  height: 60px;
  margin-left: 22px;
  margin-top: 10px;
} */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.card {
  cursor: pointer;
}

.card-group {
  width: 60%;
}

/* .form-control {
  width: 500px;
} */

.bi {
  border: 1px solid white;
}

.contains_option {
  margin-right: 60px;
}

ul {
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Poppins:wght@500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap");

.container__tile {
  background-color: #f8f8f8;
  padding: 13px 13px 13px 13px;
  border-radius: 13px;
}

.container__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.container__down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Assistant", sans-serif;
  margin-top: 3px;
}

.value {
  border: 2px solid green;
  border-radius: 0.5em;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  color: green;
}

.title {
  font-weight: bolder;
  font-size: 16px;
  margin-left: -7px !important;
}

.value__high {
  font-size: 14px;
}

.value__k {
  font-size: 14px;
}

span {
  color: #37f;
}

#nft__photo {
  /* height: 160px; */
  cursor: pointer;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
  }
}

#like_icon {
  position: absolute;
  margin-top: -170px;
  margin-left: 120px;
}

.Leader_Board_container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Poppins:wght@500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap");

.upper__heading {
  font-family: "Assistant", sans-serif;
  display: flex;
  font-size: 25px;
  margin-top: 50px;
  font-weight: bolder;
}

.upper__home {
  display: flex;
  flex-direction: column;
}

.lower__homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#filters {
  display: flex;
  flex-direction: row;
}

#dropdownMenuButton2 {
  margin-left: 150px;
}

#dropdownMenuButton3 {
  margin-right: 100px;
}

.middle__homepage {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.middle__heading {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 18.4px;
  color: black;
  text-decoration: none;
}
/* ---------------Font style css------------- */
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-550 {
  font-weight: 550;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-900 {
  font-weight: 900;
}
.font-weight-normal {
  font-weight: normal !important;
}

/* --------------Font style css---------------- */

/* --------------Color css---------------- */
.text-grey {
  color: #707070;
}
/* --------------Color css end---------------- */

/* ------------Suggestions form css------------ */
.suggestion-form {
  border-radius: 15px;
}

.suggestion-input-box {
  background-color: #f8f8f8 !important;
}
/* -----------Suggestions form css end--------- */

/* ----------Create/Profile form css--------- */
.card-border {
  border-radius: 15px;
}
/* ----------Create/Profile form css end------- */

/*-------------- Buying css------------------ */
/* .btn-search-secondary {
  border: 5px !important;
} */
.buying-search-btn {
  width: 300px;
}
.border-input {
  border-right: 0 !important;
}
.accordion-border {
  border-radius: 5px !important;
}
.border-search {
  border-left: 0 !important;
}
/*-------------- Buying css end------------------ */

/*-------------- CreateNFT css ------------------ */
.create-nft-font {
  font-weight: 1000;
}
.bottom-heading-font {
  font-weight: 600;
  font-size: 16px;
}
.card-height {
  height: 100%;
}
.card-width {
  width: 270px;
}

/*-------------- CreateNFT css ------------------ */

/*-------------- Single CreateNFT css ------------------ */
.single-nft-card {
  height: 60%;
  width: 270px;
}
.input-heading {
  font-size: 15px;
  font-weight: 600;
}
input#ethereum {
  background-image: url("../asset/images/ehereum.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
}
/*-------------- Single CreateNFT css end------------------ */

/*-------------- Collection CreateNFT css end------------------ */
.collection-nft-card {
  height: 240px !important;
  width: 250px !important;
}
.banner-nft-card {
  height: 220px;
  width: 600px;
}
.text-secondary {
  color: grey !important;
}
/* input,
input::-webkit-input-placeholder {
  font-size: 12px;
} */
::placeholder {
  font-size: 13px !important;
}
.top-heading {
  margin-left: 2em !important;
}
/*-------------- Collection CreateNFT css end------------------ */

/*-------------- My Items css end------------------ */
.myitems_container__tile {
  margin-top: 40px;
  background-color: #f8f8f8;
  height: 270px;
  width: 300px;
  border-radius: 13px;
}
.add-btn {
  width: 180px;
}
.item_middle__heading {
  line-height: 18.4px;
  color: black;
  text-decoration: none;
}
.Myitems_Collections__container {
  margin-top: 50px;
  width: 300px;
  height: 340px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  justify-content: center;
}
/*-------------- My Items css end------------------ */

/* -------------------button styles css------------ */
.btn-normal-size {
  width: 120px;
}
.btn-text:hover {
  color: white;
  font-size: 14px;
}
/* -------------------button styles css------------ */

/* -----------------Edit Profile css------------ */
.rounded-circle {
  width: 160px;
  height: 150px;
}
.btn-choose-file {
  margin-left: -8em !important;
}
/* -----------------Edit Profile css------------ */

/* ---------------Mobile/Media css  max-width 900px------------ */
@media only screen and (max-width: 900px) {
  /* Edit Profile */
  .btn-choose-file {
    display: grid;
    width: 100px;
  }
  .img-responsive {
    width: 100px;
    height: 100px;
    margin-top: 1em;
  }
  .btn-text {
    font-size: 10px !important;
  }
}
/* ---------------Mobile/Media css------------ */

/* ---------------Mobile/Media css  max-width 769px------------ */
@media only screen and (max-width: 769px) {
  /* Edit Profile */
  /* .form-responsive {
    width: 550px;
    margin-left: 3em;
  } */
  .btn-choose-file {
    width: 80px;
    margin-left: 2em !important;
    margin-top: 3em !important;
  }
  .img-responsive {
    width: 80px;
    height: 80px;
  }
  .btn-text {
    font-size: 8px !important;
  }
}
/* ---------------Mobile/Media css------------ */

/* ---------------Mobile view css  max-width 575px------------ */
@media only screen and (max-width: 575px) {
  /* Edit Profile */
  .form-responsive {
    width: 500px;
    margin-left: 3em;
  }
  .btn-choose-file {
    width: 150px;
    margin-left: 10em !important;
    margin-top: 0.7em !important;
  }
  .btn-text {
    font-size: 10px !important;
  }
  .img-responsive {
    width: 80px;
    height: 80px;
    margin-left: 12em !important;
  }
}
/* ---------------Mobile view css end------------ */

/* ---------------Mobile view css  max-width 530px------------ */
@media only screen and (max-width: 530px) {
  /* Edit Profile */
  .form-responsive {
    width: 500px;
    margin-left: 1em;
  }
  .btn-choose-file {
    width: 150px;
    margin-left: 10em !important;
    margin-top: 0.7em !important;
  }
  .btn-text {
    font-size: 10px !important;
  }
  .img-responsive {
    width: 80px;
    height: 80px;
    margin-left: 12em !important;
  }
}
/* ---------------Mobile view css end------------ */
/* ---------------Mobile view css  max-width 489px------------ */
@media only screen and (max-width: 489px) {
  /* Edit Profile */
  .form-responsive {
    width: 400px;
  }
  .btn-choose-file {
    width: 150px;
    margin-left: 6em !important;
    margin-top: 0.7em !important;
  }
  .btn-text {
    font-size: 10px !important;
  }
  .img-responsive {
    width: 80px;
    height: 80px;
    margin-left: 8em !important;
  }
}
/* ---------------Mobile view css end------------ */
