.Collections__container {
  margin-top: 50px;
  width: 326px;
  height: 350px;
  margin-left: 128px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  justify-content: center;
}

ul {
  list-style: none;
}

.rounded-circle {
  width: 100%;
  height: 300px;
  transform: scale(0.5);
}

#create_logo {
  width: 39px;
  height: 42px;
  margin-left: 22px;
  margin-top: 10px;
}

#create_logo {
  width: 39px;
  height: 42px;
  margin-left: 22px;
  margin-top: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.card {
  cursor: pointer;
}

.card-group {
  width: 60%;
}

/* .form-control {
  width: 500px;
} */

.bi {
  border: 1px solid white;
}

.contains_option {
  margin-right: 60px;
}

ul {
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Poppins:wght@500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap");

.container__tile {
  background-color: #f8f8f8;
  padding: 13px 13px 13px 13px;
  border-radius: 13px;
}

.container__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.container__down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Assistant", sans-serif;
}

.value {
  border: 2px solid green;
  border-radius: 0.5em;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  color: green;
}

.title {
  font-weight: bolder;
  font-size: 16px;
  margin-left: -7px !important;
}

.value__high {
  font-size: 14px;
}

.value__k {
  font-size: 14px;
}

span {
  color: #37f;
}

#nft__photo {
  height: 160px;
  cursor: pointer;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
  }
}

#like_icon {
  position: absolute;
  margin-top: -170px;
  margin-left: 120px;
}

.Leader_Board_container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Poppins:wght@500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap");

.upper__heading {
  font-family: "Assistant", sans-serif;
  display: flex;
  font-size: 25px;
  margin-top: 50px;
  font-weight: bolder;
}

.upper__home {
  display: flex;
  flex-direction: column;
}

.lower__homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#filters {
  display: flex;
  flex-direction: row;
}

#dropdownMenuButton2 {
  margin-left: 150px;
}

#dropdownMenuButton3 {
  margin-right: 100px;
}

.middle__homepage {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.middle__heading {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 18.4px;
  color: black;
  text-decoration: none;
}
/* ---------------Font style css------------- */
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-550 {
  font-weight: 550;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-normal {
  font-weight: normal !important;
}

/* --------------Font style css---------------- */

/* ------------Suggestions form css------------ */
.suggestion-form {
  border-radius: 15px;
}

.suggestion-input-box {
  background-color: #f8f8f8 !important;
}
/* -----------Suggestions form css end--------- */

/* ----------Create/Profile form css--------- */
.card-border {
  border-radius: 15px;
}
/* ----------Create/Profile form css end------- */

/*-------------- Buying css------------------ */
/* .btn-search-secondary {
  border: 5px !important;
} */
.buying-search-btn {
  width: 300px;
}
.border-input {
  border-right: 0 !important;
}
.accordion-border {
  border-radius: 5px !important;
}
.border-search {
  border-left: 0 !important;
}
/*-------------- Buying css end------------------ */

/*-------------- CreateNFT css ------------------ */
.create-nft-font {
  font-weight: 1000;
}
.bottom-heading-font {
  font-weight: 600;
  font-size: 16px;
}
.card-height {
  height: 110%;
}
/*-------------- CreateNFT css ------------------ */

/*-------------- Single CreateNFT css ------------------ */
.single-nft-card {
  height: 60%;
  width: 270px;
}
.input-heading {
  font-size: 15px;
  font-weight: 600;
}
input#ethereum {
  background-image: url("../asset/images/ehereum.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
}
/*-------------- Single CreateNFT css end------------------ */

/*-------------- Collection CreateNFT css end------------------ */
.collection-nft-card {
  height: 240px !important;
  width: 250px !important;
}
.banner-nft-card {
  height: 220px;
  width: 600px;
}
.text-secondary {
  color: grey !important;
}
/* input,
input::-webkit-input-placeholder {
  font-size: 12px;
} */
::placeholder {
  font-size: 13px !important;
}
.top-heading {
  margin-left: 2em !important;
}
/*-------------- Collection CreateNFT css end------------------ */
/*-------------- navbar mob css------------------ */
@media only screen and (max-width: 1170px){
  .navbar-brand
  {
    margin-left: -35px;
   
  }
.navbar-toggler{
  margin-left: 300px !important;
  margin-top: -51px !important;
  padding: 0px;
}
.navbar-nav 
{
  margin-left: -40px;
}


}
